*{
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none; 
}


body{
    background-image: url(./SVG/back/circle.svg);
    background-repeat: no-repeat;
    background-position: -550px 200px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    transition-timing-function: ease-out;
    margin: 0;
    scrollbar-width: none; 
}

.body-page {
    background-position: 125px -350px;
    scrollbar-width: none; 
}


ul li {
    text-decoration: none;
    font-size: 1.3rem;
    display: inline;
    margin: 2vw;
    
}
nav .icon {
    position: absolute;
    top:2%;
    right:2%;
}

li .list{
    position: absolute;
    top:4.5%;
    left:3%;
    -webkit-transition:  -webkit-transform 0.4s, opacity 0.4s;;
    transition: transform 0.4s, opacity 0.4s;;
}
li .card{
    position: absolute;
    top:4.5%;
    left:17%;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

nav .bar {
    position: absolute;
    top:6%;
    left:7%;
}
nav{
    padding: 4%;
    background-color: rgba(255, 0, 0, 0)
}

.hidetogglecard{
    
    -webkit-transform: translate(-45px);
    transform: translate(-45px);
  
}
.hidetogglelist{
    opacity: 0;
    -webkit-transform: translate(45px);
    transform: translate(45px);
  
}
.hide {
    display: none;
}

.circle{
    position: fixed;
}

#cardactive{
    border-radius: 5%;
    background: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.12);
    height: 350px;
    margin: 30px;
    margin-top: 10px;
}

#cardback1{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.23);
    height: 350px;
    widows: 200px;
    margin: 10px;
    margin-top: 10px;
}
#cardback1{
    background: rgb(160, 34, 34);
}
#cardback2{
    background: rgb(31, 148, 168);
}

ul.tabbar{
    position: fixed;
    right:0;
    left:0;
    bottom: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
ul.tabbar li{
    padding-left: 4px;
    margin: 0vw;
}
ul.tabbar :first-child{
    padding-left: 0;
    padding-bottom: 0;
    margin: 0vw;
}

ul.tabbar li.write{
    position: fixed;
    right: 0;
    bottom: 0%;
}
ul.tabbar li.nope img{
    padding-bottom: 0.5%;
}
ul.tabbar li.read img{
    padding-bottom: 0.5%;
}

a.category{
    font-family: AvenirNext-Regular;
    font-size: 17px;
    color: #0652DD;
    letter-spacing: -0.01px;
    margin-left: 5%
}
ul.menulist li a.category img{
    margin: -1px;
}


#card{
    border-radius: 5%;
    background: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.12);
    height: 150px;
    width: 250px;
    margin: 15px;
    margin-top: 10px;
}
section{
    margin:0;
}

div.horizontalscroll ul.item-list{
   
    width: inherit;
    height: inherit;
   
    
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;

}

div.horizontalscroll ul.item-list{
    scrollbar-width: none; 
}

div.horizontalscroll ul.item-list::-webkit-scrollbar { 
    display: none; 
}

div.horizontalscroll ul.item-list li{
    display:inline; 
}
div.horizontalscroll ul.item-list li img{
    margin-top: 5%;
    margin-left: 5%;
}
/* --------- Profil --------- */

div.bg{
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: auto;
    
}
ul.toggle li.back{
    margin-left: 3%
}

ul.toggle li.more{
    position: absolute;
    top:2%;
    right:2%;
}
ul.profildescription{
    padding-inline-start: 10px;
}

ul.profildescription li.name p{
    font-family: AvenirNext-Regular;
    font-size: 18px;
    color: #4A4A4A;
    letter-spacing: -0.01px;
}
ul.profildescription li.job p{
    font-family: AvenirNext-Regular;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: -0.01px;
}
ul.profildescription li.location p{
    font-family: AvenirNext-Regular;
    font-size: 13px;
    color: #9B9B9B;
    letter-spacing: -0.01px;
}
ul.profil li.profiltop {
    display: inline;
    margin: 0vw;
    padding-left: 2vw;
}
ul.profildescription li{
    margin: 0vw;
}
ul.profildescription li p{
    margin: 1vw;
}
ul.profilscore{
    padding-left: 4vw
}
ul.profilscore li{
    margin: 0vw
}
ul#menu li {
    display: inline;
    text-align: center;
    margin-left: 5.5vh;

}
ul#menu li a{  
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: -0.01px;
    position: relative;
}

ul#menu li a:before{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #4A4A4A;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.2s;
}
ul#menu li a.current:before{
    width: 100%;
}

ul#menu img{  
    position: fixed;
    top: 37%;
    z-index: -99;
}
.minialert{
    font-family: AvenirNext-Regular;
    font-size: 13px;
    color: #9B9B9B;
    letter-spacing: -0.01px;
}
.minialert{
    padding-top: 20%;
    padding-left: 22%; 
}
img.postalert{
    margin-top: 5%;
    margin-left: 35%; 
}
img.bookmarkpost{
    margin-top: 5%;
    margin-left: 4%;
}

section.sarah{
    margin-top: 80%;
    z-index: 99;
    position: absolute;
}


/* --------- Content --------- */

body.content{
    margin: 0;
}

ul.contentnav{
    position: fixed;
    top: 2%;
}
ul.contentnav li.back{
    position: fixed;
    top: 4%;
    left: 4%;
}
ul.contentnav li.time{
    position: fixed;
    top: 3.5%;
    left: 30%
}
ul.contentnav li.bookmark{
    position: fixed;
    top: 4%;
    right: 13%
}
ul.contentnav li.hider{
    position: fixed;
    top: 4%;
    right: 2%
}

h1{
    margin-left: 5%;
    margin-right: 5%;
    font-family: AvenirNext-Bold;
    font-size: 18px;
    color: #7D7D7D;
    letter-spacing: -0.01px;
}
p.entre{
    margin-left: 5%;
    width: 90%;
    margin-right:5%;
}

p{
    margin-top: 5%;
    margin-left: 5%;
    margin-right:5%;
    width: 75%;
    font-size: 18px;
    font-family: AvenirNext-Regular;
    color: #838383;
    letter-spacing: -0.01px;
}

div.scroll{
    overflow: auto;
}

div.scroll img.navbar{
    position: fixed;
}

div.scroll h1{
    margin-top: 15vh
}

div.scroll a.good{
 background-color: #4CD589;
 color: white;
}

div.scroll a.bad{
    background-color: #F83462;
    color: white;
}
div.inline{

    display: flex;
    flex-direction: row
}
img.timeline{
    margin-left: 5%;
    height: 140vh;
    margin-top: 6%
}

section.recent{
    position: fixed;
    top:45.5%;
    left: 0%;
}
section.recent img{
    margin-top: -1.3%
}


/* --------- Comment --------- */

ul.commentnav{
    position: fixed;
    top: 2%;
}
ul.commentnav li.back{
    position: fixed;
    top: 4%;
    left: 3%
}
ul.commentnav li.time{
    position: fixed;
    top: 3.5%;
    right:7%
}
p.comment{
    position: fixed;
    top: 10%;
    left: 5%;
    font-size: 18px;
    color: #838383;
    letter-spacing: -0.01px;
    width: 80%
}
.pros{
    position: fixed;
    top: 27%;
    left: 15%
}
.cons{
    position: fixed;
    top: 27%;
    right: 15%
}


.firstcomment{
    margin-top: 85%;
}
.lastcomment{
    margin-bottom:17%;
}

div.bg img.navbar{
    position: fixed;
}

ul.filter{
    top: 38.5%;
    left: 3%;
    position: fixed;
}
ul.filter li.filterall img{
    position: fixed;
    top: 42%;
    left: 42%;
}

.comment-bar {
    position: fixed;
    bottom: 0rem;
    right:0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 9px 4px rgba(0,0,0,0.08);
    padding: 0.6rem;
    display: flex;
    justify-content:space-between;
}


.comment-bar-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 25px;
    background: #0652DD;
    border-radius: 12px;
    color:white;
    font-size: 1rem;
    padding: .2rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

.comment-bar-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    background: #F5F5F5;
    box-shadow: inset 0 0 7px 0 rgba(0,0,0,0.08);
    border-radius: 15px;
    padding: .2rem;
    padding-left: .75rem;
    width: 200px;
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #B3B3B3;
    letter-spacing: -0.01px;
}

div#choicecolor{
    transition: 0.4s;
    position: fixed;
    bottom:-10%;
    right: 3%;
    opacity: 0;
}
div#choicecolor.hider{
    opacity: 1;
    -webkit-transform: translate(0px, -95px);
    transform: translate(0px, -95px);
    
}


/* 
div.choicecolor{
    
    
    -webkit-transform: translate(0px, 45px);
    transform: translate(0px, 45px);
} */

/* --------- Comment --------- */
.bar{
    position: fixed;
    top: 30%;
    left: 20%;
}

/* --------- Comment1 --------- */

img.mask{
    position: fixed;
    top:0%;
    left: 0%;
}
p.alert{
    position: fixed;
    top: 30%;
    left:8%;
    font-family: AvenirNext-DemiBold;
    font-size: 18px;
    color: #4A4A4A;
    letter-spacing: -0.01px;
}

img.stop{
    position: fixed;
    top: 55%;
    left: 9%;
}
img.ok{
    position: fixed;
    top: 55%;
    right: 9%;
}
